
@{
    ViewBag.Title = "FoyDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FoyDetay</h2>

<p>
    @Html.ActionLink("Yeni Kayıt","Create")
</p>

<table>
    <tr>
        <th>
            Html.DisplayNameFor()
        </th>
    </tr>
</table>